@import "tailwindcss";

@theme {
  --spacing-160: 42rem;
  --spacing-176: 46rem;
  --spacing-192: 50rem;
  --spacing-208: 54rem;
  --spacing-224: 58rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 0.125rem solid #facc15;
  outline-offset: 0.1875rem;
  border-radius: 0.5rem;
}

html,
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
